<launch>

  <!-- Gazebo launch settings-->
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="recording" default="false"/>
  <arg name="debug" default="false"/>

  <!-- Configure world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="worlds/empty.world"/>
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="recording" value="$(arg recording)"/>
  </include>

  <include file="$(find upmoon_control)/launch/control.launch" />

  <node pkg="upmoon_action" type="articulate.py" name="action_articulate" />

  <node name="spawn_model" pkg="gazebo_ros" type="spawn_model"
        args="-urdf
              -param robot_description
              -model upmoon" />

  <!-- Start teleop controls -->
  <include file="$(find upmoon_teleop)/launch/teleop_joy.launch" />

</launch>
