<launch>

  <!-- Load robot description -->
  <include file="$(find upmoon_description)/launch/description.launch" />

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find upmoon_control)/config/control.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner"
        args="state_controller
              diff_drive_controller
              ankle_lf_controller
              ankle_lm_controller
              ankle_lb_controller
              ankle_rf_controller
              ankle_rm_controller
              ankle_rb_controller
              dig_angle_controller"/>

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher"
        type="robot_state_publisher" />

</launch>
