<launch>

  <rosparam param="joy_node/dev">/dev/input/js2</rosparam>
  
  <!-- The diff_drive_controller will timeout and stops the robot if no command
  are sent after 5 seconds. Thus, we need to send commands at a period slightly
  lower than 5 second. Lets use 4 seconds, which is a rate of 1/4 = 0.25Hz -->
  <rosparam param="joy_node/autorepeat_rate">0.25</rosparam>
  
  <node name="joy_node" pkg="joy" type="joy_node"/>
  <node name="teleop_joy" pkg="upmoon_teleop" type="teleop_joy.py"/>

</launch>

